@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  /* Variáveis base */
  --background: #050505;
  --foreground: #ededed;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  overflow-x: hidden; /* Evita rolagem lateral indesejada */
  scroll-behavior: smooth;
  -webkit-font-smoothing: antialiased;
}

/* Utilitário para texto Dourado Metálico Brilhante */
.text-gold-gradient {
  background: linear-gradient(
    to right,
    #AA771C 0%,
    #D4AF37 25%,
    #F4C430 50%,
    #D4AF37 75%,
    #AA771C 100%
  );
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  background-size: 200% auto;
  animation: shine 5s linear infinite;
}

@keyframes shine {
  to {
    background-position: 200% center;
  }
}